# IS NULL - NULL 처리하기

## 문제

![image](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FNpi5C%2FbtrwrIAksFQ%2F6ppBBJHRhTZMncLhJg8K5K%2Fimg.png)

## 접근

In [ ]:
# 이름이 NULL값인 경우 select절에서 if 사용해서 No name으로 표시
# 생물 종, 이름, 성별 및 중성화 여부만 추출
# 아이디에 따라 asc 정렬

## 풀이

In [ ]:
"""
SELECT animal_type
       , IF(name IS NULL, "No name", name)
       , sex_upon_intake
FROM animal_ins
ORDER BY animal_id;
"""